<footer>
    <ul>
        <li><a href="home.html">HOME</a> </li>
        <li><a href="course.html">COURSES</a> </li>
        <li><a href="AboutUs.html">ABOUT US</a> </li>
    </ul>
    
    <ul>
        <div class="footer-sm">
            <a href="https://www.facebook.com/"><img src="/fb.jpg"><a>
            <a href="https://www.youtube.com/"><img src="/insta.jpg"></a>
            <a href="https://twitter.com/"><img src="/twiter.png"></a>
        </div>
    </ul>
</footer>