<header>
    <div class="container-fluid">
        <div class="row">
            <h1 class="header-brand">WELCOME TO INTERVIEW TRACKER</h1>
        </div>
        <div class="row">
            <div class="col-1">
                <li><a href="/">HOME</a></li>
            </div>
            <div class="col-1">
                <li><a href="/courses">COURSES</a></li>
            </div>
            </div class="col-3">
                <li><a href=/experience>EXPERIENCE</a></li>
            </div>
            <div class="col-3">
                <li><a href=/about>ABOUT US</a></li>
            </div>
            <% if(!user) {%>
               <div class="col-4">
                  <button onclick="location.href='/signup'" type="button">Login / Sign Up</button>
                </div>
            <% } else { %>
                <div>
                    <p><%= user.name%></p>
                </div>
            <div class="col-4">
                <button onclick="location.href='/logout'" type="button">Logout</button>
            </div>
            <% } %>
        </div>	
    </div>
</header>
