<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
               <article>
                   <h2>INTERVIEW TRACKER</h2>
                   <p class="intro">Track your complete course here.</p>
               </article>
               <button onclick="location.href='LoinSign.html'" type="button">Login / Sign Up</button>
            </div>
            
            
        </div>
    </div>
</main>