<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>
    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <img src="/img/ABOUT.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>WHO ARE WE ??</h3>
              <p>
               We are a team of experienced coders placed in companies like <strong> google,amazon,microsoft </strong>and many more.<br>We all start as a beginner,but to reach the level of expertise, you have to follow the right path and that  is what exactly we do. We are presenting you <b>THE BEST PATH  </b>that you can follow to achieve your dream to join your dream company.<br>Before you start the journey, here is the mantra that we have followed to achieve our goal and you would definitely be benifited from it. The mantra contains three symbols-
              </p>
              <ul>
                <li><i class="icofont-focus"></i>Always be focus.</li>
                <li><i class="icofont-fire-burn"></i>Always be burning.</li>
                <li><i class="icofont-flag"></i>Achieve your goal.</li>
              </ul>
              <p class="final-p">
                We expect you to follow all the three symbols which can ultimately help to acheive ur success.
              </p>
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
      <%- include('partials/count.ejs') %> 
      
    </main><!-- End #main -->
  
    


<%- include('partials/footer.ejs') %>