<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<div class="container1">
    <div class="row">
        <div class="col">
            <a href="#"><img src="/img/google.jpg" alt="Avatar"></a>
            
        </div>
        <div class="col">
            <a href="#"> <img src="/img/microsoft.jpg" alt="Avatar"></a>
        </div>
        <div class="col">
            <a href="#"><img src="/img/amazon.jpg" alt="Avatar"></a>
        </div>
    </div>
</div>
<div class="container1">
    <div class="row">
        <div class="col">
            <a href="#"><img src="/img/flipcart.jpg" alt="Avatar"></a>
        </div>
        <div class="col">
            <a href="#"><img src="/img/goldmansachs.jpg" alt="Avatar"></a>
        </div>
        <div class="col">
            <a href="#"> <img src="/img/salesforce.jpg" alt="Avatar"></a>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>