

    <main>
    	<br> <br>
		<div class="container-fluid">
			<div class="row">
				<div class="col-8">
				  <h3>question</h3>
				</div>
				<div class="col-4">
					<a href="/login" class="question-btn">SOLVE</a>
				</div>
				
			</div>
		</div>
		<br> <br>
		<div class="container-fluid">
			<div class="row">
				<div class="col-8">
				  <h3>question</h3>
				</div>
				<div class="col-4">
					<a href="/login" class="question-btn">SOLVE</a>
				</div>
				
			</div>
		</div>
    </main>
