<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>

  <section class="main">
    <div class="layer">
      <div class="content-w3ls">
        <div class="content-bottom">
          <form action="#" method="post">
            <div class="field-group">
              <span class="fa fa-id-card" aria-hidden="true"></span>
              <div class="wthree-field">
                <input name="text1" id="text1" type="text" value="" placeholder="Name" required>
              </div>
            </div>
            <div class="field-group">
              <span class="fa fa-user" aria-hidden="true"></span>
              <div class="wthree-field">
                <input name="text1" id="text1" type="text" value="" placeholder="Email" required>
              </div>
            </div>
            <div class="field-group">
              <span class="fa fa-lock" aria-hidden="true"></span>
              <div class="wthree-field">
                <input name="password" id="myInput" type="Password" placeholder="Password">
              </div>
            </div>
            <div class="wthree-field">
              <button type="submit" class="btn">Sign Up</button>
            </div>
            <ul class="para">
              <p>Already having account!!!!</p>
            </ul>
            
            <ul class="list-login1">
             
              <li class="">
                <a href="/login" class="text-centre Login">Login</a>
              </li>
            </ul>
          </form>
        </div>
      </div>
      </div>
  </section>
  
</body>

  <%- include('partials/footer.ejs') %>

  <script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.emailError');
    const passwordError = document.querySelector('.passwordError');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      
      //reset errors
      emailError.textContent = '';
      passwordError.textContent = '';


      // get values
      const email = form.email.value;
      const password = form.password.value;
      try {
        const res = await fetch('/signup', { 
          method: 'POST', 
          body: JSON.stringify({ email, password }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if(data.errors){
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if(data.user){
          location.assign('/courses');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>
  